BasedOnStyle: Google
AccessModifierOffset: -4
IndentWidth: 4
ContinuationIndentWidth: 2
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
ReflowComments: Never
ColumnLimit: 200
BreakBeforeBinaryOperators: NonAssignment
BracedInitializerIndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
PointerAlignment: Right
IncludeBlocks: Preserve
SortIncludes: false
WhitespaceSensitiveMacros:
  - ASM